.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;

  --accent-color: #ff0070;
  --title-color: #db00ff;
  --card-title-text-color: #ff0070;
  --paragraph-name-text-color: #000028;
  --text-color: #f1b2ce;
  --shadow-color: #ff0070;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --element-color: #ff0070;
  --element-shadow: rgba(255, 0, 112, 0.9);
  --button-hover: #ff007040;
}
