:root {
  --font-family: 'IBM Plex Mono', sans-serif;
  --bold: 700;
  --regular: 400;
  --accent-color: #ff0070;
  --h1-color: #db00ff;
  --h2-color: #000028;
  --h3-color: #ff0070;
  --text-color: #f1b2ce;
  --shadow-color: #ff0070;
  --menu-color:#ff0070;
  --decor-color: #ff0070;
  --element-color: #ff0070;
  --element-shadow: rgba(255, 0, 112, 0.9);
  --menu-hover: #ff007040;
}